.btn {
	display: inline-block;
	font-family: inherit;
	vertical-align: top;
	padding: 1rem 1.875rem;
	font-size: .9375‬rem;
	font-weight: 500;
	color: $black;
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.1;
	transition: background-color $fast, color $fast;
	&--pink {
		border: 2px solid $pink;
		border-radius: $radius-sm;
		&:hover {
			background-color: $pink;
			color: $white;
		}
	}
}