// Colors

$white:				#fff;
$gray: 				#fafafa;
$gray-dark:		#a1a1a1;
$black:				#121212;
$pink:				#cf246c;

// Fonts

$text: 			    'Montserrat', Helvetica, Arial, sans-serif;

// Gutters

$gutter:        1.5625rem;

// Radius

$radius:				.625rem;
$radius-sm:			.3125rem;

// Shadow

$shadow:				0 0 25px rgba(0, 0, 0, .05);

// Speed

$fast:          .15s ease;
$slow:          .3s ease;

// Breakpoints

$tablets:       768px;
$phones: 	      480px;

// Bootstrap Modal

$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;